
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/waterfall.jpg");
  background-size: cover;
}

#container {
margin: 0 auto;
padding: auto;
width: 510px;
display: block;
background-color: background-color: rgba(0, 0, 0, 0);

}

.ticTacToeBox {
margin: 0 auto;
padding: auto;
width: 500px;
height: 500px;
display: block;
background-color: rgba(0, 0, 0, 0);
}

p {
  /* position: absolute; */
  font-size: 70px;
  text-align: center;
}
h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 75px;
  margin-left: -6%;
  text-shadow: 5px 5px 6px black;
}

h2 {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-top: 0px;
  margin-top: -20px;
  padding-bottom: 20px;
  font-size: 75px;
  margin-left: -6%;
  text-shadow: 5px 5px 6px black;
}


.column {
width: 32%;
height: 95%;
background-color: green;
display: inline-block;
background-color: rgba(0, 0, 0, 0);
}

.row {
  width: 99%;
  height: 32%;
  margin: 0 auto;
  display: block;
  opacity: 0.7;
  pointer-events: auto;
}

img {
box-shadow: 5px 5px 6px black;
border: 2px Solid black;
}

.imageBlank {
}
